.music-bar-container {
  height: 64px;
  background-color: #d22f0e;
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
}

.button-color {
  color: white;
}

// .music-controls {
//   display: flex;
//   align-items: center;
// }
