.side-nav-menu {
  min-width: 15rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.theme-button {
  margin-left: auto;
}

.close-button {
  margin-left: auto;
}

.menu-option {
  height: 3rem !important;
}
